<section>
  <h1 i18n="@@formreactive:headline"> Buch hinzufügen - Reactive Ansatz </h1>

  <form [formGroup]="bookForm" (ngSubmit)="submitBookForm()">
    <div class="ui form">
      <div class="two fields">
        <div class="field" [class.error]="errorCheck('title')">
          <label i18n="@@formreactive:BookTitle">Buchtitel</label>
          <input type="text" formControlName="title" i18n-placeholder="@@formreactive:BookTitleplaceholder"placeholder="Angular lernen">
        </div>
        <div class="field">
          <label i18n="@@formreactive:subtitle">Untertitel</label>
          <input type="text" formControlName="subtitle" i18n-placeholder="@@formreactive:subtitleplaceholder" placeholder="das Praxishandbuch">
        </div>
      </div>
    </div>

    <div class="ui form">
      <div class="fields">
        <div class="field" formArrayName="authors" *ngFor="let author of getAuthors(); index as i"
          [class.error]="errorCheck('authors')">
          <label i18n="@@formreactive:auhtor">Autor</label>
          <input type="text" i18n-placeholder="@@formreactive:authorplaceholder"placeholder="Max Mustermann" formControlName="{{i}}">
        </div>
        <i class="plus icon" (click)="addAuthor()"></i>
        <i class="minus icon" (click)="reduceAuthor()" *ngIf="showAuthorMinus"></i>
      </div>
    </div>
    <div class="ui form">
      <div class="fields">
        <div class="field wide seven" [class.error]="errorCheck('isbn')">
          <label i18n="@@formreactive:isbn">Isbn Code</label>
          <input type="text" formControlName="isbn" i18n-placeholder="@@formreactive:isbnplaceholder" placeholder="123456789">
        </div>
        <div *ngIf="bookForm.get('isbn').invalid && bookForm.get('isbn').touched" class="ui left pointing label">
         {{isbnError()}}
        </div>
      </div>
    </div>
    <div class="ui form">
      <div class="two fields">
        <div class="field" [class.error]="errorCheck('published')">
          <label i18n="@@formreactive:published">Datum der Veröffentlichung</label>
          <input type="date" formControlName="published">
        </div>
        <div class="field" [class.error]="errorCheck('rating')">
          <label i18n="@@formreactive:rating">Bewertung</label>
          <input type="number" placeholder="3" formControlName="rating">
        </div>
      </div>
    </div>
    <div class="ui form">
      <p i18n="@@formreactive:coverIngTitle"> Cover Bilder hinzufügen:</p>
      <div class="two fields" formArrayName="thumbnails" *ngFor="let img of getThumbnails(); index as i">
        <div class="imgGroup" formGroupName="{{i}}">
          <div class="field" [class.error]="errorCheckThumbnails(i)">
            <label i18n="@@formreactive:imgurl">URL (Bildlink)</label>
            <input type="text" formControlName="url" i18n-placeholder="@@formreactive:imgurlplaceholder" placeholder="https://learnangular/titleimage.com">
          </div>
          <div class="field">
            <label i18n="@@formreactive:imgtitle">Bildtitel </label>
            <input type="text" i18n-placeholder="@@formreactive:placeholder" placeholder="Coverbild Angular lernen" formControlName="title">
          </div>
        </div>
      </div>
      <i class="plus icon" (click)="addImage()"></i>
      <i class="minus icon" (click)="reduceImage()" *ngIf="showImageMinus"></i>
    </div>

    <div class="ui form">
      <div class="field">
        <label i18n="@@formreactive:description">Buchbeschreibung</label>
        <textarea formControlName="description"> </textarea>
      </div>
    </div>

    <br>

    <button class="ui button" type="submit" i18n="@@formreactive:buttonAdd"> Buch hinzufügen </button>

    <br>

    <div *ngIf="invalidForm" class="ui error message">
      <div class="header" i18n="@@formreactive:unvalidForm">Ungültige Eingaben</div>
      <p i18n="@@formreactive:unvalidFormparagraph">Das Formular wurde nicht richtig ausgefüllt</p>
    </div>

  </form>
</section>
