<nav class="ui menu">
  <div class="menuLinks">
    <a class="item" routerLink="/bücher" routerLinkActive="active"> Bücher </a>
    <div class="ui pointing dropdown link item" suiDropdown>
      <span class="text"> Admin </span>
      <i class="dropdown icon"></i>
      <div class="menu" suiDropdownMenu>
        <div class="item " routerLink="/admin">Buch anlegen - template-driven</div>
        <div class="item" routerLink="/admin/erstellen/reactive"> Buch anlegen - reactive </div>
      </div>
    </div>
    <div class="ui pointing dropdown link item" suiDropdown>
      <span class="text">learning </span>
      <i class="dropdown icon"></i>
      <div class="menu" suiDropdownMenu>
        <div class="item " routerLink="learn/typeScript">typeScript</div>
        <div class="item" routerLink="learn/services">services</div>
        <div class="item" routerLink="learn/http">http</div>
        <div class="item" routerLink="learn/observables"> observables</div>
        <div class="item" routerLink="learn/forms"> forms</div>
        <div class="item" routerLink="learn/pipes"> pipes </div>
        <div class="item" routerLink="learn/directives"> directives</div>
      </div>
    </div>
  </div>

  <pl-search> </pl-search>




</nav>
