<nav class="ui menu">
  <div class="menuLinks">
    <a class="item" routerLink="/bücher" routerLinkActive="active"> Bücher </a>
    <div class="ui pointing dropdown link item" suiDropdown>
      <span class="text">learning </span>
      <i class="dropdown icon"></i>
      <div class="menu" suiDropdownMenu>
        <div class="item " routerLink="/typeScript">typeScript</div>
        <div class="item" routerLink="/services">services</div>
        <div class="item" routerLink="/http">http</div>
        <div class="item" routerLink="/observables"> observables</div>
      </div>
    </div>
  </div>

  <pl-search> </pl-search>




</nav>
