<section>
  <h1 i18n="@@learnForms:headline"> Formulare - Template Driven </h1>

  <h4 i18n="@@learnForms:subtitle"> Grundaufbau & Meldung in Abhängikeit des Zustands </h4>

  <form #ourTemplateForm="ngForm" (ngSubmit)="submitTemplateForm()">

    <div class="ui input">
      <input type="text"i18n-placeholder="@@learnForms:lastname" placeholder="Nachname" name="lastname" [(ngModel)]="templateForm.lastName"
        #lastnameInput="ngModel">
    </div>
    <div class="ui left pointing label" *ngIf="lastnameInput.untouched" i18n="@@learnForms:firsthint">
      Das input 'lastname' ist untouched
    </div>
    <br>
    <div class="ui input">
      <input required minLength="8" pattern=".*\d.*" type="password" i18n-placeholder="@@learnForms:passwordplaceholder" placeholder="passwort" name="password"
        [(ngModel)]="templateForm.password" #passwordInput="ngModel"> <!-- pattern für muss eine Zahl enthalten-->
    </div>
    <div class="ui left pointing label" *ngIf="passwordInput.invalid && passwordInput.dirty" i18n="@@learnForms:hinttwo">
      Bitte geben Sie ein Passwort mit mind. 8 Zeichen & einer Zahl ein
    </div>

    <br>
    <button type="submit" class="ui primary button" i18n="@@learnForms:sendone">
      senden
    </button>

  </form>

  <h2 i18n="@@learnforms:reactiveTitle"> Reactive Forms </h2>

  <form [formGroup]="reactiveForm" (ngSubmit)="submitReactiveForm()">
    <div class="ui form">
      <div class="fields">
        <div class="field">
          <label i18n="@@learnForms:reactiveName">Benutzername</label>
          <input type="text" formControlName="username">
        </div>
        <div *ngIf="reactiveForm.get('username').invalid && reactiveForm.get('username').touched" class="ui left pointing label" i18n="@@learnForms:reactiveHintOne">
         Bitte gebe mindestens 5 Zeichen ein
        </div>
        <div class="field">
          <label i18n="@@learnForms:reactivePassword">Passwort</label>
          <input type="text" formControlName="password">
        </div>
      </div>
    </div>
    <fieldset formGroupName="name">
      <h4 i18n="@@learnForms:reactiveNameInput"> Dein Name</h4>
      <div class="ui form">
        <div class="fields">
          <div class="field">
            <label i18n="@@learnForms:reactiveFirstName">Vorname</label>
            <input type="text" formControlName="firstname">
          </div>
          <div class="field">
            <label i18n="@@learnForms:reactiveLastname">Nachname</label>
            <input type="text" formControlName="lastname">
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset formArrayName="email">
      <h4 i18n="@@learnForms:reactiveemail"> Deine Mail-Adressen</h4>
      <div class="ui form" *ngFor="let field of reactiveForm.get('email').controls; index as i">
        <div class="field three wide" [class.error]="reactiveForm.get('email').invalid && reactiveForm.get('email').touched">
          <label i18n="@@learnForms:reactiveMailInput">Mailadresse</label>
          <input type="email" formControlName="{{i}}">
        </div>
      </div>
    </fieldset>

    <p i18n="@@learnForms:reactivePlZValidator"> Eigener PLZ-Validator </p>

    <div class="ui input" [class.error]="reactiveForm.get('plz').invalid && reactiveForm.get('plz').touched ">
      <input formControlName="plz" type="text" >
    </div>

    <fieldset formGroupName="newPassword">
      <h4 i18n="@@learnForms:reactiveentryPassword"> Passwort eingeben</h4>
      <div class="ui form">
        <div class="fields">
          <div class="field" [class.error]="reactiveForm.get('newPassword').invalid && reactiveForm.get('newPassword').get('passwordRepeat').touched">
            <label i18n="@@learnForms:reactivePasswordInputValidator">Passwort</label>
            <input type="text" formControlName="passwordOne">
          </div>
          <div class="field" [class.error]="reactiveForm.get('newPassword').invalid && reactiveForm.get('newPassword').get('passwordRepeat').touched">
            <label i18n="@@learnForms:reactivePasswordValidatorSecond">Passwort wiederholen</label>
            <input type="text" formControlName="passwordRepeat">
          </div>
        </div>
      </div>
    </fieldset>

    <button type="submit"class="ui button" i18n="@@learnForms:reactivesend"> senden </button>
  </form>

  <h4 i18n="@@learnForms:reactiveSetValueTitle"> Alle Werte setzen mit setValue()</h4>
  <button type="button" class="ui button primary" (click)="setAllValues()" i18n="@@learnForms:reativesetAllValues"> alle Werte setzen</button>
  <button type="button" class="ui button primary" (click)="patchOneValue()" i18n="@@learnForms:reactivepatchOneValue"> einen Wert setzen</button>
</section>
