<section>
  <h1 i18n="@@learnhttp:headline"> HTTP-Client</h1>
  <p i18n="@@learnhttp:subtitle"> http Client nur einmal in der gesamten Anwendung einbinden - also in Service auslagern</p>

  <hr>

  <h4 i18n="@@learnhttp:callBackValues"> Rückgabe-Werte </h4>
  <h6 i18n="@@learnhttp:standardbody"> standardmäßig gibt der HTTP-Request nur den Body zurück</h6>
  <p i18n="@@learnhttp:typeResponse"> Die Variable die wir mit der Antwort belegen wollen kann einen einfachen Typ : string, :number, :Book[] haben. Je nachdem was der Server eben sendet</p>
  <h6 i18n="@@learnhttp:completeResponse"> Komplette Antwort auslesen mit Header und allem</h6>
  <p i18n="@@learnhttp:sendforCompleteResponse"> Wenn wir nicht nur den Body wollen sondern die ganze Antort müssen wir das beim senden des requests angeben durch den Zusatz: observe: 'Response' (S.193) </p>
  <p i18n="@@learnhttp:typetheSame"> Dann haben wir jedoch immer als Rückgabe den Typ:  HttpResponse</p>

  <hr>

  <h4 i18n="@@learnhttp:paramter"> Paramter mitgeben beim Request</h4>
  <p i18n="@@learnhttp:parameterParagraph"> Häufig möchten man Paramter mitgeben um bestimmte Antowrten zu erhalten man fragt z.B. an: exmaple.com/api/items?filter=Suchbegriff1</p>
  <p i18n="@@learnhttp:paramsObject"> Dies löst in dem man ein params Objekt erstellt, das ein formObject enthält. dieses gibt man dem Request dann mit </p>
  <p i18n="@@learnhttp:setParameter"> Parameter können wir über die Mehtode set('paramter', 'neuerWert') ändern und über append('filter', 'neuerParamter') hinzufügen </p>
  <p i18n="@@learnhttp:wichPage"> S. 195</p>

  <hr>

  <h4 i18n="@@learnhttp:callbackValueJson"> Rückgabewert kein JSON</h4>
  <p i18n="@@learnhttp:standardValue"> Standardmäßig erwarten wir ein JSON als Rückgabe </p>
  <p i18n="@@learnhttp:emptyrespnse"> Erhalten wir kein JSON ODER GAR KEINEN WERT müssen wir den Typ manuell angeben mit: resonseType: 'text' oder 'blob'</p>


</section>
