<section>
  <h1 i18n="@@learnobservables:headline"> Observables </h1>

  <h4 i18n="@@learnobservables:createFunctions"> Create Functions</h4>
  <p i18n="@@learnobservables:createFunctionsFirst"> <b>of</b> erstellt ein Observable aus einzelnen Werten: const $obs = of(1,2,3) </p>
  <p i18n="@@learnobservables:createFunctionFrom"> <b>from</b> erstellt eines aus einem array const $obs = from(myArray)</p>
  <p i18n="@@learnobservables:createFunctionTimer"> <b>timer(500)</b> -> erzeugt alle 500ms einen neuen Wert // ---1---2---3---4---5....</p>
  <p i18n="@@learnobservables:createFunctionTimerSecond"> <b>timer(0,500)</b> -> Startet bei 0ms und erzeugt den Wert und dann alle 500ms // 1---2---3---4---5...</p>

  <hr>

  <h4 i18n="@@learnobservables:sharedOperator"> Shared Operator </h4>

  <p i18n="@@learnobservables:sharedText"> Wir haben vom Server einen Request ausgeführt und diesen mit Hilfe von Shared an 2 Subscriber vereteilt ohne mit
    den beiden
    Subscribern einen Request auszuführen
  </p>

  <h4 i18n="@@learnobservables:subject"> Subject </h4>
  <p i18n="@@learnobservables:subjectText"> Ein Subject ist ein selbst erstelltes Observable, dass wir abbonieren können wenn sich die Daten im Subject ändern
    ändert sich auch die Werte der Variable, welcher
    das Abbonement zugewiesen wurde
  </p>

  <p> {{subjectValue}} </p>

  <h4 i18n="@@learnobservables:behaviourSubject"> Behavior Subject</h4>
  <p i18n="@@learnobservables:behaviourSubjecttext">hat bereits einen Startwert</p>
  <p> {{behaviorSubjectValue}}</p>

</section>
