<h2 i18n="@@learnservices:headline"> Services </h2>

<h4 i18n="@@learnservices:useprovidedin"> providedIn</h4>
<p i18n="@@learnservices:pone"> Damit Angular erkennt ob ein Servcie benötigt wird oder nicht benutzen wir anstelle dem Providers Array das providedIn Tag</p>
<p i18n="@@learnservices:ptwo">Damit reduziert sich die Größe unseres Bundles, da nicht benötigte Services nicht berücksichtigt werden</p>
<p i18n="@@learnservices:pthree"> root: eine Instanz des Service die geteilt wird</p>
<p i18n="@@learnservices:pfour"> any: jedesmal wenn der Services in einer Component injected wird erhält dieser eine neue Instanz des Services </p>


