<section>
  <h1> Observables </h1>

  <h4> Create Functions</h4>
  <p> <b>of</b> erstellt ein Observable aus einzelnen Werten: const $obs = of(1,2,3) </p>
  <p> <b>from</b> erstellt eines aus einem array const $obs = from(myArray)</p>
  <p> <b>timer(500)</b> -> erzeugt alle 500ms einen neuen Wert // ---1---2---3---4---5....</p>
  <p> <b>timer(0,500)</b> -> Startet bei 0ms und erzeugt den Wert und dann alle 500ms // 1---2---3---4---5...</p>

  <hr>

  <h4> Shared Operator </h4>

  <p> Wir haben vom Server einen Request ausgeführt und diesen mit Hilfe von Shared an 2 Subscriber vereteilt ohne mit
    den beiden
    Subscribern einen Request auszuführen
  </p>

  <h4> Subject </h4>
  <p> Ein Subject ist ein selbst erstelltes Observable, dass wir abbonieren können wenn sich die Daten im Subject ändern
    ändert sich auch die Werte der Variable, welcher
    das Abbonement zugewiesen wurde
  </p>

  <p> {{subjectValue}} </p>

  <h4> Behavior Subject</h4>
  <p>hat bereits einen Startwert</p>
  <p> {{behaviorSubjectValue}}</p>

</section>
