<ng-container *ngIf="book$ | async as book; else loading">

  <section *ngIf="book; else loading">
    <h2>{{book.title}}</h2>
    <h4>{{book.subtitle}}</h4>
    <div class="basics">
      <div>
        <h5 i18n="@@bookDetail:author"> Autoren</h5>
        <p *ngFor="let author of book.authors"> {{author}}</p>
      </div>
      <div>
        <h5 i18n="@@bookDetail:isbn"> ISBN </h5>
        <p> {{book.isbn | isbn }}</p>
      </div>
      <div>
        <h5 i18n="@@bookDetail:published"> Erschienen: </h5>
        {{book.published | date: 'longDate'}}
      </div>
      <div>
        <h5 i18n="@@bookDetail:rating">Bewertung</h5>

        <div *ngIf="book.rating">
          <ng-container *ngFor="let star of tranformRatingToArray(book.rating); index as i">
            <i class="star outline icon" *plDelay="100 + i *400"> </i>
          </ng-container>

          <!-- man kann mit *ngFor nur durch einen Array iterieren -> wir haben aber nur eine Zahl (book.rating)
             -> also wandelt die Funtktion transformRatingToArray() diese Zahl in eionen Array um -->

        </div>
      </div>
    </div>
    <h4 i18n="@@bookDetail:description">Beschreibung</h4>
    {{book.description}}
    <img class="ui image medium" *ngIf="book.thumbnails" [src]="book.thumbnails[0].url">

    <button class="ui toggle button" routerLink="/bücher" i18n="@@bookDetail:Buttonback"> zurück </button>
    <button class="ui orange button" routerLink="/admin/edit/{{book.isbn}}"
      i18n="@@bookDetail:ButtonEdit">bearbeiten</button>
    <button class="ui inverted red button" (click)="deleteBook()" i18n="@@bookDetail:ButtonDelete">Buch löschen</button>

  </section>

</ng-container>

<!-- mit else bei *ngIf können wir nicht auf ein echtes DOM Element referenzioeren sondern nut auf das ng-template -->
<ng-template #loading>
  <div class="ui segment loadingAnimation">
    <div class="ui active inverted dimmer">
      <div class="ui text loader" i18n="@@bookDetail:loading">Loading</div>
    </div>
  </div>
</ng-template>